body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.school-education-entry,
.education-entry,
.work-entry,
.project-entry {
  padding: 5 0%;
  padding-top: 15px; 
}

.work-projects-entry
{
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;  
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}


.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}


.header
{
    background: linear-gradient(180deg, #236b8e 40%, #ffffff 0%);
}

.header-main
{
    margin-top: 40px; 
}

#header-info
{
    padding-top: 30px;                        

}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding-left: 10px;
  width: 300px;
  display: none;
    border-radius: 50%;

}

img {
  padding: 10px;
}


#lets-connect {
  text-align: center;
}

.project-thumbnail
{
    transition: background-color 0.5s ease;
    background-color :#ffffff;
    max-height: 300px;
    max-width: 300px;
}

.school-picture
{
    max-height: 90px;
    max-width: 90px;
}

footer
{
    position: absoulte;
    height: 60px;
    bottom: 0;    
    width: 100%;
    background-color: #236b8e;
    color :white;    
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

footer > .container > p 
{
    margin: 20px 0;
    color :white; 
}

.heading-hr{
    position: relative;
}

.heading-hr:after
{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
}


hr
{
    background-color: #236b8e; 
    border: none;
    height: 2px;
    margin-top: 0;     
    width: 90%;
}

.section-heading
{
    color: #236b8e;
}

#workExperience{
    margin-top: 10 px; 
}

#mapDiv {
  height: 400px;
  width: 100%;  
  margin-bottom: 100px;
}

dt {
  float: left;
  width: 30%;
}

dd {
  float: left;
  width: 70%;
}

.work-projects-entry > h5 
{
    padding-bottom: 5px;
}



@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  

}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
 
  #header-info
  {
      padding-bottom: 100px;
  }
  
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}


@media only screen and (min-width:750px) and (max-width:900px) {
  .biopic {
    width: 175px;
  }
  
  .header-main
  {
      margin-top: 0px;
  }
  
  #welcome-msg
  {
      margin-top: 30px;
  }
  
}