.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #236b8e;
  color: #ffffff; }

.section-heading {
  color: #236b8e; }

.occupation {
  margin-top: 20px;
  margin-bottom: 20px; }

.sub-heading {
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #236b8e; }

.occupation-date {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  display: inline; }

.occupation-description {
  margin-top: 10px; }

.occupation-project-heading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold; }

hr {
  background-color: #236b8e;
  border: none;
  height: 2px;
  margin-top: 0;
  width: 90%; }

footer {
  position: absoulte;
  bottom: 0;
  width: 100%;
  background-color: #236b8e;
  color: white;
  font-weight: bold;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px; }
  footer .footer-text {
    margin-top: 20px;
    padding-bottom: 20px; }

dt {
  float: left;
  width: 30%; }

dd {
  float: left;
  width: 70%; }

ul {
  list-style: none;
  padding: 0px; }

.main-title {
  margin: 0px; }

.sub-title {
  margin: 0px;
  font-style: italic; }
