// Mobile theme
$themeColor: #b71c1c;
$dateColor: #ef5350;
@media only screen and (min-device-width: 300px) and (max-device-width: 775px) {
    header {
        align-content: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background: $themeColor;
        color: #ffffff;
    }
    // Horizontal line under main heading
    hr {
        background-color: $themeColor;
        border: none;
        height: 2px;
        margin-top: 0;
        width: 100%;
    }
    // Footer 
    footer {
        position: absoulte;
        bottom: 0;
        width: 100%;
        background-color: $themeColor;
        color: white;
        font-weight: bold;
        margin-top: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .theme-li {
        color: $themeColor;
    }
    // Main sub-title Heading
    .sub-heading {
        margin-top: 20px;
        margin-bottom: 0px;
        color: $themeColor;
    }
    // Occupation Date
    .occupation-date {
        font-style: italic;
        font-size: 14px;
        color: $themeColor;
        line-height: 16px;
    }
    .heading-block-icon {
        background: $themeColor;
        width: 50px;
        height: 45px;
        padding: 7px;
        display: inline-block;
        margin: 0px;
    }
    .contact {
        dt {
            float: left;
            clear: left;
            text-align: left;
        }
        dd {
            margin-left: 0px;
            word-wrap: break-word;
            text-align: left;
        }
    }
    #skillsMatrix {
        width: 100%;
        tr>td:first-child {
            width: 20%;
        }
        tr>td:nth-child(2) {
            width: 30%;
        }
        tr>td:last-child {
            width: 50%;
        }
    }
    tr {
        height: 2em;
    }
    tr td {
        padding-top: 1em;
    }
    .progress {
        margin-top: 20px;
    }
    .td-progress-bar {
        vertical-align: middle !important;
    }
}

@media screen and (min-device-width: 300px) and (max-device-width: 775px) and (orientation: landscape) {
    #contacts {
        margin-top: 1em;
    }
    .contact {
        margin-left: 12em;
        dt {
            float: left;
            clear: left;
            text-align: left;
            width: 20%;
        }
        dd {
            margin-left: 0px;
            word-wrap: break-word;
            text-align: left;
            width: 80%;
        }
    }
}