@import "bootstrap";
@import "bootstrap/theme";
@import "desktop";
@import "tablet";
@import "mobile";
header {
    margin-bottom: 2em;
    p::first-letter {
        text-transform: capitalize;
        font-size: 4em;
        margin: 0px;
        padding: 0px;
    }
    line-height: 150%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0px;
        margin: 0px;
    }
}

body {
    background: #212121;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#bio {
    margin-top: 1.5em;
}

// contact section
#contacts {
    margin-top: 1em;
}

// Contact Details
.contact {
    dt {
        float: left;
        width: 30%;
    }
    dd {
        float: left;
        width: 70%;
    }
}

// Inline picture
.pic-inline {
    //display: inline;
    width: 200px;
    height: 200px;
}

// Tech Entry
.tech-entry {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.vertical-center {
    vertical-align: center;
}

#skillsMatrix {
    width: 100%;
    tr>td:first-child {
        width: 10%;
    }
    tr>td:nth-child(2) {
        width: 15%;
    }
    tr>td:last-child {
        width: 75%;
    }
}

tr {
    height: 2em;
}

tr td {
    padding-top: 1em;
}

table {
    border: 0px;
    border-style: none;
    border-collapse: collapse
}

.progress {
    margin-top: 20px;
}

.td-progress-bar {
    vertical-align: middle !important;
}

a {
    color: #ffffff;
}

a:hover {
    color: #808080;
}


/*



body {
    background: #212121;
    color: #ffffff;
}

.sub-title {
    margin: 0px;
    display: inline-block;
    font-style: italic;
}

.main-entry {
    margin: 0px;
}

.entry {
    margin-top: 30px;
    margin-bottom: 30px;
    h4 {
        margin: 0px;
    }
}

// Occupation
.occupation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    margin: 0px;
}

// Occupation Description
.occupation-description {
    margin-top: 10px;
}

// Occupation Project Heading
.occupation-project-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-title {
    margin: 0px;
}

.summarized-skill-note {
    text-align: center;
    font-size: medium;
    margin-top: 2px;
}*/